<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>

    <title> 首页 </title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/ready.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/ready.min.css}">


    <style>
        * {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
<div class="wrapper" >


    <div th:fragment="header">
        <div class="logo-header">
            <a href="index" class="logo">首页</a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div th:fragment="left">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img th:src="@{/asserts/img/profile2.jpg}">
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
                                    <span th:if="${session.teacherInfo.verifyFlag==1}">审核员</span>
                                    <span th:if="${session.teacherInfo.verifyFlag==0}">教师</span>
									<span class="user-level" th:text="${session.teacherInfo.name}"></span>
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse" id="collapseExample" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="studentinfo">
                                    <span class="link-collapse">查看信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="modifyinfo">
                                    <span class="link-collapse">修改信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="changepsw">
                                    <span class="link-collapse">修改密码</span>
                                </a>
                            </li>
                            <li>
                                <a href="exit">
                                    <span class="link-collapse">退出</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-group text-center" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                模块一
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <ul class="nav">
                            <li class="nav-item">
                                <a th:href="@{/upload}">
                                    <i class="la la-keyboard-o"></i>
                                    <p>出差申请</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="classinfo">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                    <p>申请详情</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="classinfo">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                    <p>出差</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                模块二
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <ul class="nav">
                            <li class="nav-item">
                                <a th:href="@{/upload}">
                                    <i class="la la-keyboard-o"></i>
                                    <p>出差申请</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="classinfo">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                    <p>查看本班选题情况</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">
                                模块三
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <ul class="nav">
                            <li class="nav-item">
                                <a th:href="@{/upload}">
                                    <i class="la la-keyboard-o"></i>
                                    <p>出差申请</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="classinfo">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                    <p>查看本班选题情况</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>

</body>
<script type="text/javascript" th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</html>